In [68]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

In [73]:
number_of_samples = 5000

# Create a np.array of length "number_of_samples" filled with random values from the interval "interval"
def generate_random_arr_in_interval(interval, number_of_samples=number_of_samples):
  return np.random.rand(number_of_samples) * (interval[1] - interval[0]) + interval[0]

In [74]:
centre_min_max = [0.05, 0.95]
radius_min_max = [0.05, 0.7]
amplitude_min_max = [30, 90]

params = pd.DataFrame(
  {
    "eval_id": [i for i in range(1, number_of_samples+1)],      # sample number, counting from 1
    "interface": ["NO_ID"] * number_of_samples,                 # fill with "NO_ID"
    "c1_x": [*generate_random_arr_in_interval(centre_min_max)],
    "c1_y": [*generate_random_arr_in_interval(centre_min_max)],
    "r1": [*generate_random_arr_in_interval(radius_min_max)],
    "a1": [*generate_random_arr_in_interval(amplitude_min_max)],
    "c2_x": [*generate_random_arr_in_interval(centre_min_max)],
    "c2_y": [*generate_random_arr_in_interval(centre_min_max)], 
    "r2": [*generate_random_arr_in_interval(radius_min_max)],
    "a2": [*generate_random_arr_in_interval(amplitude_min_max)],
    "c3_x": [*generate_random_arr_in_interval(centre_min_max)],
    "c3_y": [*generate_random_arr_in_interval(centre_min_max)],
    "r3": [*generate_random_arr_in_interval(radius_min_max)],
    "a3": [*generate_random_arr_in_interval(amplitude_min_max)]
  }
)

In [71]:
params[:3]

,eval_id,interface,c1_x,c1_y,r1,a1,c2_x,c2_y,r2,a2,c3_x,c3_y,r3,a3
0,1,NO_ID,0.671303,0.810929,0.515450,69.045741,0.194061,0.104698,0.295229,61.690625,0.458314,0.121345,0.492443,81.535826
1,2,NO_ID,0.663149,0.469021,0.491577,50.760517,0.265961,0.875479,0.089738,44.703093,0.546511,0.729140,0.666429,67.523627
2,3,NO_ID,0.225632,0.898724,0.470370,68.192283,0.872368,0.568956,0.644414,48.054246,0.292085,0.331824,0.137259,65.233247

In [75]:
# params.to_csv("dakota_pstudy.dat", sep = '\t', float_format='%.6f', index=False)